<div class="main">
  <div class="container pt-3">
    <div class="col-sm-5 login-form shadow bg-white">
      <h1 class="text-center mt-4 mb-5">
        <b>Signup</b>
      </h1>
      <%= render 'form', user: @user %>
      <a href="/login" class="already-a-user-link">
        <u>already a user?</u>
      </a>
    </div>
  </div>
</div>
